QPushButton
{background-color: rgba(201, 243, 253,150);
color: #1E2D4C;
height:60px;
margin:50px;
background-image: url( background-image: );
background-repeat: no-repeat;
font-family:sans-serif;
font-weight:bold;
border: 2px solid #1E2D4C;
}

QPushButton:hover{

background-color: rgba(201, 243, 253,210);
}




